RewriteEngine On
RewriteBase /
RewriteRule ^vendor/(.*) /
RewriteRule ^App/(.*) /
RewriteRule ^System/(.*) /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php